
body {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  text-align: center;
}

/* Slideshow container */
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.text{
  text-align: center;
  color: lightsalmon;
  font-family: 'Satisfy', cursive;    
}

/* Carousel Item */

.carousel-item{
  background:url('../img/h1-bg.png') epeat center top;

  background-size: cover;
}
.bs-example{
  background-size: cover;

}
h1{
  font-family: "Montserrat-Bold";
}



/* Features Section */

#features {
  position: relative;
  padding: 7% 15%;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

h3 {
  font-family: 'Montserrat-Bold', sans-serif;
}
.icon {
  color: #e63c08;
  margin-bottom: 1rem;
}
.icon:hover {
 color: #ff4c68;
}



/* Jumbotron */
.card-body1 {
  background-color: lightblue;
}



/* Inputs styles */
.contact .form-control {
	border-radius:0!important;
	;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.contact .form-control:focus {
	-webkit-box-shadow:none;
	box-shadow:none;
	border:1px solid #B0B0B0;
}

.btn-send{
	background: black;
	color: black;
	transition: all 0.4s;
	border-radius: 0;
	float: right;
}

.btn-send:hover{
	background: #FFE800;
	color: black
}

button,button:focus,button:hover,button:active {
	outline: none!important;
}




footer {
  text-align: center;
  background-color: whitesmoke;
  
}